import React, { memo } from 'react';

const {{pascalCase name}}ByID: React.FC = memo(() => {
return (
  <div  >
    {{pascalCase name}} By ID Component
  </div>
  );
});

export default {{pascalCase name}};